global
    log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global


frontend kube
        bind :80
        

# backend kube_back
#         server local host.docker.internal:31080
